footer.footer
	.footer__container
		+link('footer__callback-link', 'Задать свой вопрос', '#')
		+footerCategoryList(footerCategoryList, 'footer-category__list', 'footer-category__item', 'footer-subtitle', 'footer-sub__list', 'footer-sub__item')
