footer.footer
	.container
		h2 Footer
		+menuFooterCategories(menuFooter)
		ul 
			li 
				+inlineSvg('class-name', '25', '25', '<path transform="scale(.97098 1.0282) rotate(-45 24.51 7.237)" stroke="green" stroke-width="1.5" d="M0-.75h24.758"/><path transform="matrix(.68659 .72705 -.68659 .72705 1 2)" stroke="orange" stroke-width="1.5" d="M0-.75h24.758"/>')
			li
				+inlineSvg('class-name', '25', '25', '<path transform="scale(.97098 1.0282) rotate(-45 24.51 7.237)" stroke="green" stroke-width="1.5" d="M0-.75h24.758"/><path transform="matrix(.68659 .72705 -.68659 .72705 1 2)" stroke="orange" stroke-width="1.5" d="M0-.75h24.758"/>')



