footer.footer
	.footer__container
		.footer__callback-wrapper
			+footerCallback(footerCallback)
			+link('footer__callback-button', 'Задать свой вопрос', '#')
<<<<<<< HEAD
		+menuFooter(menuFooter)
=======
		+menuFooterCategories(menuFooter)
>>>>>>> 07d5374141225dfcb4761023b6000f25a96c5f09
		.footer__social-wrapper
			+list(socialLinks, 'footer__social-list', 'footer__social-item')
		.footer__copyright
			+link('footer__copyright-link', 'Пользовательское соглашение', '#')
			p.footer__copyright-text: <small>© 2022-2023 “Астраханская область”</small>

