footer.footer
	.container
		h2 Footer
		+menuFooterCategories(menuFooter)
		ul 
			li 
				+inlineSvg('svg-1', '25', '25', 'icon-close-copy', 'none', 'black')
			li 
				+inlineSvg('svg-class-1', '20', '20', 'svg-bell', 'none', 'red')
			li 
				+inlineSvg('svg-cl', '22', '22', 'svg-search', 'none', 'green')
