header.header
	.container
		nav.nav
			+navObject(navHeaderLinks)
			+button('Войти через VK', 'vk-login', 'button')
			//+list('ГЛАВНАЯ', 'КАТАЛОГ', 'ОПЛАТА И ДОСТАВКА', 'КОНТАКТЫ')
		include ./../sections/user.pug