header.header
	.container
		nav.nav
			+menu(navHeader, 'nav__list', 'nav__item')
			+categoryList(categoriesList, 'category__list', 'category__item', 'subtitle', 'sub__list', 'sub__item')
			+button('Войти через VK', 'vk-login', 'button')
			+inputField('Search', 'catalog-search', 'text')
		include ./../sections/user.pug