header.header
	.container
		.header__wrapper
			a.header__logo-link(href='./index.html')
				| Логотип
			nav.navigation
				+menu(navHeader, 'navigation__list', 'navigation__item')
				ul.navigation-icons__list
					li.navigation-icons__item 
						+inlineSvg('navigation-icons__notice', '20', '20', 'svg-bell', 'none', 'red')
					li 
						+inlineSvg('navigation-icons__search', '22', '22', 'svg-search', 'none', 'green')
				+button('Войти через VK', 'vk-login', 'button')
				include ./../sections/user.pug		