header.header
	.container
		nav.nav
			+menu(navHeader, 'nav__list', 'nav__item')
			+button('Войти через VK', 'vk-login', 'button')
			include ./../sections/user.pug
			+categoryList(categoriesList)
			+inputField('Search', 'text', 'name-search', 'id-search', 'Введите placeholder')
			+button('Избранное', 'user-favorites', 'button')
			+link('user-link', 'Перейти к корзине', './pages/catalog.html')
		