header.header
	.container
		nav.nav
			+menu(navHeader, 'nav__list', 'nav__item')
			ul 
				li 
					+inlineSvg('svg-class-1', '20', '20', 'svg-bell', 'none', 'red')
				li 
					+inlineSvg('svg-cl', '22', '22', 'svg-search', 'none', 'green')
			+button('Войти через VK', 'vk-login', 'button')
			include ./../sections/user.pug
			+categoryList(categoriesList)
			+inputField('Search', 'text', 'name-search', 'id-search', 'Введите placeholder')
			+button('Избранное', 'user-favorites', 'button')
			+link('user-link', 'Перейти к корзине', './pages/catalog.html')
		