extends ./../layout/main.pug
block variables
block mixins
	include ./../commons/_mixins.pug

block head
	title= titlePage.calculator
block header
	include ./../layout/header.pug
block content
	main.main
		include ./../sections/price.pug
		include ./../sections/size.pug
		include ./../sections/delivery.pug
		include ./../sections/calc_settings_user_menu.pug
		include ./../sections/calc_settings.pug
block footer
	include ./../layout/footer.pug
block scripts
	script(type="module", src="js/script.min.js")
