extends ./../layout/main.pug
block variables
	include ./../commons/_variables.pug
	- var isCatalogPage = true
block mixins
	include ./../commons/_mixins.pug

block head
	title= titlePage.catalog
block header
	include ./../layout/header.pug
	include ./../sections/mobile-navigation-catalog.pug
block content 
	main.main
		include ./../sections/catalog-head.pug
		include ./../sections/categories.pug
block footer
	include ./../layout/footer.pug
block scripts
	script(type="module", src="js/script.min.js")
