extends ./../layout/main.pug
block variables
block mixins
	include ./../commons/_mixins.pug

block head
	title= titlePage.contact
block header
	include ./../layout/header.pug
block content
	main.main
		include ./../sections/contact-us.pug
		include ./../sections/modal_contact-us.pug
		include ./../sections/modal_faq.pug
block footer
	include ./../layout/footer.pug
block scripts
	script(type="module", src="js/script.min.js")
