extends ./../layout/main.pug
block variables
block mixins
	include ./../commons/_mixins.pug

block head
	title= titlePage.faqpage
block header
	include ./../layout/header.pug
block content
	main.main
		include ./../sections/faq.pug

block footer
	include ./../layout/footer.pug
block scripts
	script(type="module", src="js/script.min.js")
