extends ./../layout/main.pug
block variables
block mixins
	include ./../commons/_mixins.pug

block head
	title= titlePage.payment
block header
	include ./../layout/header.pug
block content
	main.main
		include ./../sections/placing-orders.pug

block footer
	include ./../layout/footer.pug
block scripts
	script(type="module", src="./../pages/js/script.min.js")
