-
	var	titlePage = {
		index: 'Главная страница',
		catalog: 'Каталог',
		calculator: 'Калькулятор',
		faqpage: 'FAQ',
		calc_settings: 'Настройки калькулятора',
		payment: 'Оформление заказа'
	}



-
	var isCatalogPage = true;


-
	var navHeader = [
		{
			title: 'Главная',
			url: '../index.html'
		},
		{
			title: 'Каталог',
			url: './pages/catalog.html'
		},
		{
			title: 'Оплата и доставка',
			url: './pages/delivery.html'
		},
		{
			title: 'Контакт',
			url: './pages/contact.html'
		}
	]

-
	var mobileMenuMain = [
		{
			'Основные': [
				{name: 'Главная страница', url: './index.html'},
				{name: 'Каталог товаров', url: '#'},
				{name: 'Калькулятор и индифицатор', url: '#'},
				{name: 'Контакты', url: '#'}
			]
		},
		{
			'Каталог': [
				{name: 'Избранное', url: '#'},
				{name: 'Корзина товаров', url: '#'}
			]
		},
		{
			'Личный профиль': [
				{name: 'Аккаунт', url: '#'},
				{name: 'История заказов', url: '#'},
				{name: 'Текущие заказы', url: '#'},
				{name: 'Партнерская программа', url: '#'}
			]
		},
		{
			'Доп. разделы': [
				{name: 'Faq', url: '#'},
				{name: 'Наши соцсети', url: '#'}
			]
		}
	]

-
	var mobileMenuCatalog = [
		{
			title: 'Главная',
			url: '../index.html'
		},
		{
			title: 'Избранное',
			url: '#'
		},
		{
			title: 'Каталог',
			url: './pages/catalog.html'
		},
		{
			title: 'Корзина',
			url: '#'
		},
		{
			title: 'Профиль',
			url: '#'
		}
	]

-
	var categoriesList = [
		{
			'Обувь': [
				{name: 'Кроссовки', url: 'hhh.html'},
				{name: 'Кеды', url: '#'},
				{name: 'Ботинки', url: '#'}
			]
		},
		{
			'Верхняя одежда': [
				{name: 'Бомберы', url: '#'},
				{name: 'Джинсовые куртки', url: '#'},
				{name: 'Ветроки', url: '#'},
				{name: 'Куртки', url: '#'},
				{name: 'Пуховики', url: '#'}
			]
		},
		{
			'Верх': [
				{name: 'Футболки', url: '#'},
				{name: 'Поло', url: '#'},
				{name: 'Худи', url: '#'},
				{name: 'Лонгсливы', url: '#'}
			]
		},
		{
			'Низ': [
				{name: 'Джинсы', url: '#'},
				{name: 'Брюки', url: '#'},
				{name: 'Шорты', url: '#'}
			]
		},
		{
			'Акксесуары': [
				{name: 'Головные уборы', url: '#'},
				{name: 'Сумки', url: '#'},
				{name: 'Рюкзаки', url: '#'},
				{name: 'Другое', url: '#'}
			]
		}
	]

-
	var priceCheckbox = [
		{description: 'Менее 4 000 ₽', count: 26},
		{description: '4 001 - 6 000 ₽', count: 24},
		{description: '6 001 - 10 000 ₽', count: 23},
		{description: '10 001 - 18 000 ₽', count: 26},
		{description: '18 001 - 35 000 ₽', count: 26},
		{description: '35 001 ₽ и более', count: 26}
	]

-
	var firmCheckbox = [
		{description: 'Nike', count: 22},
		{description: 'Adidas', count: 22},
		{description: 'Reebock', count: 22},
		{description: 'New Balance', count: 22},
		{description: 'Vans', count: 22},
		{description: 'Old Older', count: 22},
		{description: 'Asics', count: 22},
		{description: 'Puma', count: 22}
	]

-
	var products = [
		{
			imagePath: "./../images/content/hero-img@1x.png",
			name: "New Balance 550",
			price: 27590,
			oldPrice: 29890,
			status: 'new'
		},
		{
			imagePath: "./../images/content/hero-img@1x.png",
			name: "New Balance 550",
			price: 100,
			oldPrice: 120,
			status: 'new'
		},
		{
			imagePath: "./../images/content/hero-img@1x.png",
			name: "New Balance 550",
			price: 100,
			oldPrice: 120,
			status: 'new'
		}
	]

-
	var productItemSeller = true;

-
	var menuFooter = [
		{
			'Главная': [
				{name: 'Главная страница', url: './index.html'},
				{name: 'Что такое Poizon?', url: '#'},
				{name: 'Ссылка на Poizon', url: '#'},
				{name: 'Наш пункт выдачи', url: '#'},
				{name: 'Наш пункт выдачи', url: '#'}
			]
		},
		{
			'Каталог': [
				{name: 'Кроссовки', url: '#'},
				{name: 'Вверхняя одежда', url: '#'},
				{name: 'Нижняя одежда', url: '#'},
				{name: 'Техника', url: '#'},
				{name: 'Другое', url: '#'},
			]
		},
		{
			'Оплата и доставка': [
				{name: 'Калькулятор', url: '#'},
				{name: 'Определение размера ', url: '#'},
				{name: 'Информация о доставке', url: '#'},
				{name: 'Способы оплаты', url: '#'},
			]
		},
		{
			'Контакты': [
				{name: 'Как с нами связаться?', url: '#'},
				{name: 'Наш пункт выдачи', url: '#'},
				{name: 'Помощь', url: '#'},
				{name: 'FAQ', url: './pages/faqpage.html'},
			]
		}
	]

-
	var footerCallback = [
		{name: 'Помощь', url: '#'},
		{name: 'Пожаловаться', url: '#'},
		{name: '+7 (495) 539-55-55', url: 'tel:+74955395555'}
	]
-
	var socialLinks = [
		{},
		{},
		{}
	]

-
	var asideMenu = [
		{name: 'История заказов', url: '#'},
		{name: 'Бонусы', url: '#'},
		{name: 'Поддержка', url: '#'},
		{name: 'Настройки профиля', url: '#'},
		{name: 'Основные настройки', url: '#'},
		{name: 'Поддержка', url: '#'}
	]

-
	var asideMenuCalcSettings = [
		{name: 'Настройки калькулятора', url: '#'},
		{name: 'Позиции каталога', url: '#'},
		{name: 'Редактирование заказов', url: '#'},
		{name: 'Вопросы из FAQ', url: '#'},
		{name: 'Партнёрская программа', url: '#'},
		{name: 'Выйти из аккаунта', url: '#'}
	]
