-
	var	titleLinks = {
		index: 'Главная страница',
		catalog: 'Каталог'
	}

-
	var navHeaderLinks = {
		index: 'Главная',
		catalog: 'Каталог',
		delivery: 'Оплата и доставка',
		contact: 'Контакт'
	}

-
	var socialLinks = [
		{},
		{},
		{}
	]

-
	var categories = [
		{
			'Обувь': [
				'Кроссовки',
				'Кеды',
				'Ботинки'
			]
		},
		{
			'Верхняя одежда': [
				'Бомберы',
				'Джинсовые куртки',
				'Ветроки'
			]
		}
	]
