extends ./layout/main.pug
block variables
block mixins
	include ./commons/_mixins.pug

block head
	title= navigationsLinks.index
block header
	include ./layout/header.pug
block content
	main.main
		//- nav.nav-menu
		//- +list('list',1,2,3,4,5, navigationsLinks.index)
		//- 	+listObject('list', navigationsLinks)
		//- 	ul
		//- 		each val in categories
		//- 			each item, key in val
		//- 				ul
		//- 					li= key
		//- 					li= item
		//- img(src="images/content/hero-img@1x.png", alt="Image.")
		//- +img('image', 'images/content/hero-img', 'Image', 64, 54, 'png')
		include ./sections/intro.pug
block footer
	include ./layout/footer.pug
block scripts
	script(type="module", src="js/script.min.js")
