extends ./layout/main.pug
block variables
	include ./commons/_variables.pug
	- var isIndexPage = true

block mixins
	include ./commons/_mixins.pug

block head
	title= titlePage.index
block header
	include ./layout/header.pug
	include ./sections/registration-modal.pug
block content
	main.main
		include ./sections/intro.pug
		include ./sections/slider.pug
		include ./sections/about.pug
		include ./sections/map.pug
		//- include ./sections/faq.pug
		include ./sections/private.pug
block footer
	include ./layout/footer.pug
block scripts
	script(src="js/script.min.js", type="module")
