.map {
}
.container {
}
.delivery {
  // .delivery__image
  &__image {
  }
  // .delivery__content
  &__content {
  }
}

// .delivery-content
.delivery-content {
  // .delivery-content__title
  &__title {
  }
  // .delivery-content__text
  &__text {
  }
  // .delivery-content__time
  &__time {
  }
}

.map-container {
}
