section.about
	.container
		h2.title-about ЧТО ТАКОЕ POIZON?
		b.subtitle СЕЙЧАС МЫ ВСЕ ОБЪЯСНИМ
		a.about-link(href="#")
			+img('about-image', 'images/decors/main-about-poizon@1x.png', 'Лучший сервис для заказа с POIZON', 336, 198, 'png')
		p.discription В данном видеоролике мы подробно рассказываем о таких маркетплейсах, как Poizon, 95, Alibaba.
		p.discription Какой путь проходят вещи перед тем как попасть в руки наших клиентов?
		p.discription Вещь которая ко мне придет точно оригинал? И главный вопрос почему именно Logistics X?
		p.discription На все эти вопросы вы можете получить ответ, посмотрев ролик!
