section.user_menu--calc_settings
	h2.visually-hidden Меню администратора
	+img('user-profile__img', '', 'Фотография пользователя', '148', '143', 'png')
	p.user__name Никита Бульдозеров
	p.user__role Администратор
	+asideMenuCalcSettings(asideMenuCalcSettings)
