section.card
	.slider
		+img('slider-image', '#', 'Фото 1', )
		+button('Назад', 'card-button', 'button')
		+button('Вперёд', 'card-button', 'button')
		span 1/6
	h2.card-title Zion Williamson x Air Jordan 1 Retro Low OG "Voodoo"
	span Nike
	span 23 799 ₽
	+button('Избранное', 'favorites', 'button')
	+link('card-link', 'Купить', '#')
	p Статус товара: В наличии на складе в Москве
	p Доставка оплачивается отдельно
	h3 Доступная размерная сетка
		+link('', 'Не можете определить свой размер ноги?', '#')
		.size-range
			+listButton(40,41,42,43,44,45,46)
	h2.card-subtitle Описание
		p.card-discription Бренд Jordan и молодая звезда NBA Зайон Уильямсон выпустили второе поколение его именных баскетбольных кроссовок, Jordan Zion 2.Air Jordan 1 Low «Voodoo» оформлены в несколько оттенков: Flax, Muslin, Fauna Brown, Oil Green, Sesame и Moon Fossil. Верх пары выполнен из микса конопляных материалов, канваса и замши и дополняется логотипом-вуду в виде черепа и стежками на «свуше» и других деталях. Также интересно смотрится перевернутый лейбл на язычке.
	h2.card-subtitle Важное дополнение
		p.card-discription Стоимость доставки не входит в цену позиции. Её стоимость зависит от региона, в который будет совершена отправка вещи. Её стоимость зависит от региона, в который будет совершена отправка вещи.
	h2.card-subtitle Вам также могут понравиться
		p.card-discription Рекомендации составлены исходя из популярности товаров

