section.items-cart
	h1.items-cart__title Корзина товаров
	fieldset.items-cart__worth
		ul.worth__list
			li.worth__item
				p.worth__cart-cost 6 товаров на сумму:  142 794 ₽
			li.worth__item
				+checkbox('all-items', 'checked', 'all-items', 'Все товары')
			li.worth__item
				+button('Удалить выбранное', 'worth__button-reset', 'reset')
			li.worth__item
				+link('worth__item-link', 'Перейти к избранному', '#')
			li.worth__item
				+link('worth__item-link', 'Все в корзине', '#')
	fieldset.items-cart__selected-products
		ul.selected-products__list
			li.selected-products__items
				+checkbox('item', 'checked', 'item', 'Товар')
				//- img.selected-products__image
				h2.selected-products__cart-title: +link('my-link-class', 'Zion Williamson x Air Jordan 1 Retro Low OG "Voodoo"', '#')
				p.selected-products__size Размер: 41
				.selected-products__buttons-value
					+button('-', 'selected-products__button-decrease', 'button')
					+inputField('Количество товаров','text', 'quantity-product', 'quantity-product', '1')
					+button('+', 'selected-products__button-increase', 'button')
				.selected-products__terms-wrapper
					dl.terms-wrapper
						dt.terms-wrapper__setting Цена:
						dd.terms-wrapper__element 23 799 ₽
					+button('Добавить в избранное', 'selected-products__button-favorites', 'button')
					+button('Купить', 'selected-products__button-buy', 'button')
