section.catalog-head 
  +categoryList(categoriesList)
  +inputField('Search', 'text', 'name-search', 'id-search', 'Введите placeholder')
  +button('Избранное', 'user-favorites', 'button')
  +link('user-link', 'Перейти к корзине', './pages/catalog.html')