section 
  h2 Категории товаров include categories.pug
  +priceCheckboxList(priceCheckbox, 'my-ul-class', 'my-li-class')
  +firmCheckboxList(firmCheckbox, 'list_testClass', 'item_testClass')
  +productList(products)