section 
  h2 Категории товаров include categories.pug
  +priceCheckboxList(priceCheckbox, 'my-ul-class', 'my-li-class')
  +firmCheckboxList(firmCheckbox, 'list_testClass', 'item_testClass')
  +productList(products, 'my-ul-class', 'my-li-class', 'my-img-class', 'my-h3-class', 'my-current-price', 'my-old-price')