section.contact_us
	.contact_us__img
		img(src="../../images/decors/contacts-phones.png",
        width="890" height="667",
        alt="Картинка телефонов",
        title="Картинка телефонов"
        )
	.contact_us__info
		h1.info__title Как с нами связаться?
		p.info__text
			|В данном видеоролике мы подробно рассказываем о таких маркетплейсах, как Poizon, 95, Alibaba.<br>
			|Какой путь проходят вещи перед тем как попасть в руки наших клиентов?<br>
			|Вещь которая ко мне придет точно оригинал?<br>
			|И главный вопрос почему именно Logistics X?<br>
		p.info__address
			|Также у нас есть офис в Москве, куда вы можете прийти если возникла необходимость<br>
			|Адрес: Смольная улица, 24А, Москва<br>
			|Время работы: ежедневно с 8:00 до 21:00<br>


