section.contact_us
	img.contact_us__img(alt="" src="#")
	.contact_us__info
		h1.contact_us__title Как с нами связаться?
		.contact_us__questions
			p.contact_us__text 	В данном видеоролике мы подробно рассказываем о таких маркетплейсах, как Poizon, 95, Alibaba.
			p.contact_us__text 	Какой путь проходят вещи перед тем как попасть в руки наших клиентов?
			p.contact_us__text 	Вещь которая ко мне придет точно оригинал?
			p.contact_us__text 	И главный вопрос почему именно Logistics X?
		.contact_us__address
			p 	Также у нас есть офис в Москве, куда вы можете прийти если возникла необходимость
			adress
				p 	Адрес: Смольная улица, 24А, Москва
				p 	Время работы: ежедневно с 8:00 до 21:00


