section.delivery
	h2.visually_hidden Доставка
	.delivery__wrapper--1
		h2.delivery__title--1 Доставка бесплатная
		p.delivery__text--1 Все товары, которые вы видите в каталоге, есть в наличии в Москве.<br>
			|Доставим в любую точку России за несколько дней через СДЭК или курьером по Москве в день заказа.<br>
			|Также вы можете забрать купленную пару самовывозом в МСК или приехать на примерку.<br>
	.delivery__wrapper--2
		h3.delivery__title--2 Доставка СДЭК
		p.delivery__text--2 Большинство заказов в регионы мы отправляем через СДЭК, вы можете выбрать удобный пункт выдачи или заказать доставку лично в руки. Детали у вас уточнит наш оператор после оформления заказа.
	.delivery__wrapper--3
		h3.delivery__title--3 Оплата заказа картой
		p.delivery__text--3 Вы можете оплатить заказ банковской картой Visa / Master Card. После оплаты мы свяжемся в вами по телефону и договоримся о способе доставки. Отправка произойдет на следующий день.
