section.faq
	.container
		h2.faq__title Часто задаваемые вопросы
		dl.faq__list
			dt: a.faq__query(href="#")
				| Где я могу посмотреть каталог товаров?
			dd.faq__panel.faq__panel--locked: p
				| С каталогом товаров вы можете ознакомиться
				| <a href="#" target="_blank">перейдя в данный раздел</a>

			dt: a.faq__query(href="#")
				| Как работает калькулятор?
			dd.faq__panel.faq__panel--locked: p
				| Lorem ipsum dolor sit amet.

			dt: a.faq__query(href="#")
				| В какие страны и регионы идет доставка Logistics X?
			dd.faq__panel.faq__panel--locked: p
				| Lorem, ipsum dolor sit amet consectetur adipisicing elit.

			dt: a.faq__query(href="#")
				| Как я могу оплатить заказ?
			dd.faq__panel.faq__panel--locked: p
				| Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos rem dolore quam?

			dt: a.faq__query(href="#")
				| Сколько по времени занимает доставка?
			dd.faq__panel.faq__panel--locked: p
				| С каталогом товаров вы можете ознакомиться
				| <a href="#" target="_blank">перейдя в данный раздел</a>

			dt: a.faq__query(href="#")
				| Где можно скачать приложение Poizon?
			dd.faq__panel.faq__panel--locked: p
				| С каталогом товаров вы можете ознакомиться
				| <a href="#" target="_blank">перейдя в данный раздел</a>

			dt: a.faq__query(href="#")
				| Где можно скачать приложение Poizon?
			dd.faq__panel.faq__panel--locked: p
				| С каталогом товаров вы можете ознакомиться
				| <a href="#" target="_blank">перейдя в данный раздел</a>

			dt: a.faq__query(href="#")
				| Где можно скачать приложение Poizon?
			dd.faq__panel.faq__panel--locked: p
				| Приложение Poizon можно скачать с оффициаильного сайта приложения или же перейдя по данным ссылкам

			dt: a.faq__query(href="#")
				| Где можно скачать приложение Poizon?
			dd.faq__panel.faq__panel--locked: p
				| С каталогом товаров вы можете ознакомиться
				| <a href="#" target="_blank">перейдя в данный раздел</a>
				//- fgtghtery


