section.filters
	.container
		h2.filters-title Фильтры
		button Сбросить всё
		h3.filters-subtitle Настройте параметры для более точного поиска
		form.form(action="#" method="post")
			ul.form-list
				li.form-item
					input(type="checkbox" id="availability")
					label.form-title(for="availability") В наличии на складе
				li.form-item
					input(type="checkbox" id="order")
					label.form-title(for="order") Под заказ с Poizon
			fieldset.form-price
				legend.form-price__title Стоимость
				input(type="number")
				input(type="number")
				+priceCheckboxList(priceCheckbox)
			fieldset.form-brand
				legend.form-brand__title Бренд
				+firmCheckboxList(firmCheckbox)
			fieldset.form-size
				legend.form-size__title Размер
				input(type="number")
				input(type="number")

