section.intro
	.container
		h2 LOGISTICS X
		p Закажем абсолютную любую позицию из Китая! Одежда, обувь, аксессуары, электроника и многое другое! Цены значительно ниже, чем в России.
		+link('base-link', 'Перейти к каталогу', './pages/catalog.html')
		+link('base-link base-link--black', 'Перейти к калькулятору')
		+img('image', 'images/content/hero-img', 'Image', 634, 'auto', 'png')
