section.map
	.container
		.delivery
			.delivery__image
				.map-container
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d941.4221957754354!2d37.48290896497143!3d55.86107111375467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5381bdec71e3f%3A0xa8dff8a1ff406b6d!2z0KHQvNC-0LvRjNC90LDRjyDRg9C7LiwgMjTQsCwg0JzQvtGB0LrQstCwLCAxMjU0NDU!5e0!3m2!1sru!2sru!4v1712660451416!5m2!1sru!2sru" width="1122" height="677" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			.delivery__content.delivery-content
				h2.delivery-content__title Наш пункт выдачи в Москве
				p.delivery-content__text Если вы живете в нашей столице, то с легкостью можете посетить наш офис (по совместительству пункт выдачи), чтобы получить свою поссылку прямиком от наших сотрудников

				p.delivery-content__text Если вы живете в нашей столице, то с легкостью можете посетить наш офис (по совместительству пункт выдачи), чтобы получить свою поссылку прямиком от наших сотрудников

				address.delivery-content__address Адрес: Смольная улица, 24А, Москва

				p.delivery-content__time Время работы: ежедневно с <time datetime="8:00">8:00</time> до <time datetime="21:00">21:00</time>


