section.map
	.container
		.delivery
			.delivery__image
				.map-container
			.delivery__addres
				h2 Наш пункт выдачи в Москве
				p Если вы живете в нашей столице, то с легкостью можете посетить наш офис (по совместительству пункт выдачи), чтобы получить свою поссылку прямиком от наших сотрудников

				p Если вы живете в нашей столице, то с легкостью можете посетить наш офис (по совместительству пункт выдачи), чтобы получить свою поссылку прямиком от наших сотрудников

				address Адрес: Смольная улица, 24А, Москва

				p Время работы: ежедневно с <time datetime="8:00">8:00</time> до <time datetime="21:00">21:00</time>




