section.map
	.container
		.delivery
			.delivery__image
				.map-container
					+img('image', 'images/decors/main-map', 'Image', 1090, 'auto', 'png')
			.delivery__content.delivery-content
				h2.delivery-content__title Наш пункт выдачи в Москве
				p.delivery-content__text Если вы живете в нашей столице, то с легкостью можете посетить наш офис (по совместительству пункт выдачи), чтобы получить свою поссылку прямиком от наших сотрудников

				p.delivery-content__text Если вы живете в нашей столице, то с легкостью можете посетить наш офис (по совместительству пункт выдачи), чтобы получить свою поссылку прямиком от наших сотрудников

				address.delivery-content__address Адрес: Смольная улица, 24А, Москва

				p.delivery-content__time Время работы: ежедневно с <time datetime="8:00">8:00</time> до <time datetime="21:00">21:00</time>

