section.modal_faq
	fieldset.modal_faq__question
		legend.faq__title Добавьте или отредактируете  вопрос в раздел FAQ
		input(type="text" name="question" id="question" placeholder="Тема вопроса" required)
		input(type="text" name="answer" id="answer" placeholder="Распишите ответ на вопрос" required)
		+button('Сохранить', 'button__faq', 'button')
