section.modal_contactUs
	fieldset.modal_contactUs__selection
		legend.currency__title Выберите удобный для вас способ связи
		p.selection__text Наш менеджер ответит вам в течении 5 минут
		input(type="text" name="name" id="name" placeholder="Как к вам обращаться?" required)
		select(name="social" id="social-telegram")
			option(value="") Telegram
		input(type="text" name="theme" id="theme" placeholder="Тема обращения" required)
		input(type="text" name="id" id="id" placeholder="Ваш ID" required)
		input(type="text" name="question" id="question" placeholder="Опишите кратко ваш вопрос" required)
		+button('Отправить', 'contactUs', 'button')
