section.modal__vklogin
	fieldset.modal__vklogin_form
		legend.vklogin__title Войти через VK
		input(type="text" name="name" id="name" placeholder="Имя Фамилия" required)
		input(type="email" name="email" id="email" placeholder="Ваш email" required)
		+button('Войти', 'button__vklogin', 'button')
