section.size
	h2.size__title Идентификация вашего размера
	p.size__text Для выбора точного размера <span class="text--green">измерьте длину стопы</span> от пятки до кончика большого пальца ноги, либо укажите длину стельки вашей обуви.
