section.slider
  .container
    h2 ЧТО КЛАДЕТСЯ В ЗАКАЗ?
    p Мы решили как-то выделить наших клиентов на фоне остальных
    .packing-info
      h3 КАК МЫ УПАКОВЫВАЕМ ПОСЫЛКИ?
      p Каждый товар покупаемый через нас кладется сертификат и стикер свидетельствующий о приобретении позиции именно через наш сервис.
      p Для чего мы это делаем? В первую очередь данный печатный носитель сможет вам помочь подтвердить подлинность вещи.
