section.user 
  .user-profile 
    +img('user-profile__img', '', 'Фотография пользователя', '42', '40', 'jpg')
    p.user-profile__title
      | Никита Бульдозеров
    a.user-profile__link(href='#')
      | Перейти в профиль