div.user-navigation-header
  div.user-navigation-header__profile
    img(class="user-profile__img" src='' alt='Фотография пользователя' width='42' height='40')
    p.user-navigation-header__title
      | Никита Бульдозеров
    a.user-navigation-header__link(href='#')
      | Перейти в профиль
