section.user 
  ul.user-icons__list
    li.user-icons__item 
      +inlineSvg('user-icons__notice', '20', '20', 'svg-bell', 'none', 'red')
    li 
      +inlineSvg('user-icons__search', '22', '22', 'svg-search', 'none', 'green')
  .user-profile 
    +img('user-profile__img', '', 'Фотография пользователя', '42', '40', 'jpg')
    p.user-profile__title
      | Никита Бульдозеров
    a.user-profile__link(href='#')
      | Перейти в профиль